/** resets **/
/* line 4, ../sass/checkout_success.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 19, ../sass/checkout_success.scss */
html {
  height: 101%;
}

/* line 20, ../sass/checkout_success.scss */
body {
  background: #f0f0f0 url("http://s22.postimg.org/3l1gnfmwd/image.gif");
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #313131;
  font-size: 62.5%;
  line-height: 1;
}

/* line 28, ../sass/checkout_success.scss */
::selection {
  background: #a4dcec;
}

/* line 29, ../sass/checkout_success.scss */
::-moz-selection {
  background: #a4dcec;
}

/* line 30, ../sass/checkout_success.scss */
::-webkit-selection {
  background: #a4dcec;
}

/* line 32, ../sass/checkout_success.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #ccc;
  font-style: italic;
}

/* line 36, ../sass/checkout_success.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ccc;
  font-style: italic;
}

/* line 40, ../sass/checkout_success.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ccc;
  font-style: italic;
}

/* line 44, ../sass/checkout_success.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #ccc !important;
  font-style: italic;
}

/* line 49, ../sass/checkout_success.scss */
br {
  display: block;
  line-height: 2.2em;
}

/* line 51, ../sass/checkout_success.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 52, ../sass/checkout_success.scss */
ol, ul {
  list-style: none;
}

/* line 54, ../sass/checkout_success.scss */
input, textarea {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

/* line 64, ../sass/checkout_success.scss */
blockquote, q {
  quotes: none;
}

/* line 65, ../sass/checkout_success.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

/* line 66, ../sass/checkout_success.scss */
strong {
  font-weight: bold;
}

/* line 68, ../sass/checkout_success.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 69, ../sass/checkout_success.scss */
img {
  border: 0;
  max-width: 100%;
}

/* line 71, ../sass/checkout_success.scss */
#topbar {
  background: #4f4a41;
  padding: 10px 0 10px 0;
  text-align: center;
}

/* line 77, ../sass/checkout_success.scss */
#topbar a {
  color: #fff;
  font-size: 1.3em;
  line-height: 1.25em;
  text-decoration: none;
  opacity: 0.5;
  font-weight: bold;
}

/* line 86, ../sass/checkout_success.scss */
#topbar a:hover {
  opacity: 1;
}

/** typography **/
/* line 91, ../sass/checkout_success.scss */
h1 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 2.5em;
  line-height: 1.5em;
  letter-spacing: -0.05em;
  margin-bottom: 20px;
  padding: .1em 0;
  color: #444;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
}

/* line 104, ../sass/checkout_success.scss */
h1:before,
h1:after {
  content: "";
  position: relative;
  display: inline-block;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: #f0f0f0;
}

/* line 114, ../sass/checkout_success.scss */
h1:before {
  left: -.5em;
  margin: 0 0 0 -50%;
}

/* line 118, ../sass/checkout_success.scss */
h1:after {
  left: .5em;
  margin: 0 -50% 0 0;
}

/* line 122, ../sass/checkout_success.scss */
h1 > span {
  display: inline-block;
  vertical-align: middle;
  white-space: normal;
}

/* line 128, ../sass/checkout_success.scss */
p {
  display: block;
  font-size: 1.35em;
  line-height: 1.5em;
  margin-bottom: 22px;
}

/** page structure **/
/* line 137, ../sass/checkout_success.scss */
#w {
  display: block;
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}

/* line 144, ../sass/checkout_success.scss */
#content {
  display: block;
  width: 100%;
  background: #fff;
  padding: 25px 20px;
  padding-bottom: 35px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

/* line 156, ../sass/checkout_success.scss */
.flatbtn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #f9f8ed;
  text-decoration: none;
  background-color: #b6a742;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.2em;
  font-weight: bold;
  padding: 12px 22px 12px 22px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  -moz-box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
  box-shadow: 0 1px 0 rgba(15, 15, 15, 0.3);
}

/* line 183, ../sass/checkout_success.scss */
.flatbtn:hover {
  color: #fff;
  background-color: #c4b237;
}

/* line 187, ../sass/checkout_success.scss */
.flatbtn:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** notifications **/
/* line 194, ../sass/checkout_success.scss */
.notify {
  display: block;
  background: #fff;
  padding: 12px 18px;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px 0px;
  text-align: center;
}

/* line 209, ../sass/checkout_success.scss */
.notify h1 {
  margin-bottom: 6px;
}

/* line 211, ../sass/checkout_success.scss */
.successbox h1 {
  color: #678361;
}

/* line 212, ../sass/checkout_success.scss */
.errorbox h1 {
  color: #6f423b;
}

/* line 214, ../sass/checkout_success.scss */
.successbox h1:before, .successbox h1:after {
  background: #cad8a9;
}

/* line 215, ../sass/checkout_success.scss */
.errorbox h1:before, .errorbox h1:after {
  background: #d6b8b7;
}

/* line 217, ../sass/checkout_success.scss */
.notify .alerticon {
  display: block;
  text-align: center;
  margin-bottom: 10px;
}

/* line 223, ../sass/checkout_success.scss */
.confirmation_sucess {
  text-align: center;
}

/* line 227, ../sass/checkout_success.scss */
.home_button {
  text-align: center;
}
