<div id="note">

</div>
<div id="products">

</div>

<div id="addProduct">
  <input type='text' class='product_name' value='' />
  <input type='text' class='price' value='' />
  <a href="#" class="addProduct">Add Product</a>
</div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="javascripts/admin.js"></script>