<div class="itemList">

</div>

<a href="#" id="Purchase">Buy All</a>


<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="javascripts/checkout.js"></script>