<!doctype html>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>Success Notification Boxes</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/checkout_success.css"/>
</head>

<body>

<div id="w">
    <div id="content">
        <!-- Icons source http://dribbble.com/shots/913555-Flat-Web-Elements -->
        <div class="confirmation_success notify successbox">
            <h1>Success!</h1>
            <span class="alerticon"><img src="http://s22.postimg.org/i5iji9hv1/check.png" alt="checkmark" /></span>
            <p>Thanks for your order we will be in touch soon!</p>
        </div>

        <!--<div class="notify errorbox">
            <h1>Warning!</h1>
            <span class="alerticon"><img src="http://s22.postimg.org/ulf9c0b71/error.png" alt="error" /></span>
            <p>You did not set the proper return e-mail address. Please fill out the fields and then submit the form.</p>
        </div>-->

    </div><!-- @end #content -->
</div><!-- @end #w -->

<div class = "home_button">
    <a href="../index.html" class = "btn btn-primary">Return to Home</a>
</div>

</body>
</html>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="javascripts/checkout.js"></script>