<div class="itemList">

</div>

<a href="#" id="Purchase">Check Out</a>
<a href="../index.html" class = "return_main">Return to home</a>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="javascripts/checkout.js"></script>