
<head>
    <title>Moving Company</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/home.css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>

</head>
<body class="home_page">
<div id = 'menu'></div>

<div class="container">

                <div class="jumbotron">
                    <div class='welcome_account'>Welcome <%= username %>!</div>
                    <p>You are logged into your account.</p>
                </div>

</div>

</div><!--/row-->


</div><!--/.container-->

</body>

<!--<div id = 'footer'></div>-->



<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="javascripts/load_pricing.js"></script>
<script src="javascripts/home.js"></script>
<script src="javascripts/scripts.js"></script>


</body>