

<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/orderhistory.css"/>
<meta name="viewport" content="width=device-width, user-scalable=no"/>

<div id = 'menu'></div>
<div id="history"></div>





<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>
<script src="javascripts/orderHistory.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/load_pricing.js"></script>