<!DOCTYPE html>
<html>
<head>
    <title>Moving Company</title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/pricing.css"/>
    <meta name="viewport" content="width=device-width, user-scalable=no"/>


</head>
<body>

<div id='menu'></div>

<div id="pricingCont">
    <div class="row">
        <h1>Select from our packages below</h1>
        <h3>Priced per an hour</h3>
    </div>
</div>

<div id="priceList">
    <div class="row">
        <h2></h2>
        <h3></h3>
        <div class="plans">
            <ul id = "pricing_main" class="list-unstyled">
            </ul>
        </div>
    </div>
</div>

<center><iframe src="/products" width="800" height="450" ></iframe></center>

<div id='footer'></div>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/jquery-ui.js"></script>
<script src="bower_components/waypoints/lib/jquery.waypoints.js"></script>

<script src="javascripts/load_pricing.js"></script>
<script src="javascripts/jumpSlides.js"></script>
<script src="javascripts/scripts.js"></script>
<script src="javascripts/pricing.js"></script>
</body>