<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>title</title>
  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.10/css/jquery.dataTables.css">

</head>
<body>

<table id="products" class="display" cellspacing="0" width="100%">
  <thead>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
  </tr>
  </thead>
  <tfoot>
  <tr>
    <th>Product Name</th>
    <th>Price</th>
  </tr>
  </tfoot>
</table>

<script src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.10/js/jquery.dataTables.js"></script>
<script type="text/javascript" charset="utf8" src="javascripts/products.js"></script>
</body>
</html>